.header {
    width: 100%;
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
    padding-inline: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'PT Mono', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 4px;
}

.header__menu {
    
}