// ----------------------------------------------------
// This file contains all application-wide Sass mixins.
// ----------------------------------------------------

// Mixin to manage breakpoints
// @require $breakpoints from variables
// @param 'String' $breakpoint - Breakpoint name
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint ) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// -----------------------------
// Mixin to build hamburger bars
//------------------------------
@mixin hamburger-line {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: var(--hamburger-bar-height);
  background-color: var(--hamburger-bar-color);
}