// -------------------------------------------------------
// This file contains all application-wide Sass variables.
// -------------------------------------------------------


// Responsive breakpoint map
$breakpoints: (
  'small': 800px,
  'medium': 1200px,
  'large': 1600px
) !default;



// ------
// Colors
// ------

:root {
  --background-primary: rgb(43, 46, 53);
  --background-secondary: rgb(43, 61, 104);
}


// ---------
// Hamburger
// ---------

:root {
  --hamburger-padding: 0.625rem;
  --hamburger-width: 40px;
  --hamburger-height: 24px;
  --hamburger-bar-height: 2px;
  --hamburger-bar-color: rgb(240, 240, 240);
}

