// -------------------------------------------------------
// This file contains all application-wide Sass variables.
// -------------------------------------------------------


// Responsive breakpoint map
$breakpoints: (
  'small': 800px,
  'medium': 1200px,
  'large': 1600px
) !default;



// ------
// Colors
// ------

:root {
  --background-primary: rgb(43, 46, 53);
  --background-secondary: rgb(43, 61, 104);
}


